/* @import "tailwindcss"; */

#page-header {
	background-image: url(/images/pixelvivid/pix-bg.gif);
	background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
}


.pixCartItem * {
	/* FIX FOR SAME HEIGHT GRID COLUMNS */
	align-content: start;
}

/* .tileImageOverlay {
	background: linear-gradient(
		135deg, 
		rgba(255, 0, 0, 0.5), 
		rgba(255, 165, 0, 0.5), 
		rgba(255, 255, 0, 0.5), 
		rgba(0, 128, 0, 0.5), 
		rgba(0, 0, 255, 0.5), 
		rgba(75, 0, 130, 0.5),
		rgba(238, 130, 238, 0.5) 
	);
} */


.tileImageOverlay {
	background: 
		linear-gradient( 52deg, rgba(255, 0, 0, 0.5), transparent 60% ),
   		linear-gradient( 104deg, rgba(255, 165, 0, 0.5), transparent 60% ),
		linear-gradient( 156deg, rgba(255, 255, 0, 0.5), transparent 60% ),
   		linear-gradient( 208deg, rgba(0, 128, 0, 0.5), transparent 60% ),
		linear-gradient( 260deg, rgba(0, 0, 255, 0.5), transparent 60% ),
   		linear-gradient( 312deg, rgba(75, 0, 130, 0.5), transparent 60% ),
		linear-gradient( 365deg, rgba(238, 130, 238, 0.5), transparent 60% );
}